<div class="container float-left">
            <form>
         <div class="form-row">
             <div class="form-group col-6">
                        <input type="text" class="form-control" placeholder="Character Name">
             <div class="form-group col-6">
                 <div class="form-row">
                     <div class="form-group col">
                        <label for="inputClass">Class:</label>
                        <input type="text" class="form-control" id="inputClass" placeholder="Class">
                    </div>
                     <div class="form-group col">
                        <label for="inputPlayer">Player:</label>
                        <input type="text" class="form-control" id="inputPlayer" placeholder="Player">
                    </div>
                </div>
                 <div class="form-row">
                     <div class="form-group col">
                        <label for="inputRace">Race:</label>
                        <input type="text" class="form-control" id="inputRace" placeholder="Race">
                    </div>
                     <div class="form-group col">
                        <label for="inputLevel">Level:</label>
                        <input type="text" class="form-control" id="inputLevel" placeholder="Level">
                    </div> 
                </div>
            </div>
        </div>

         <div class="form-row">
             <div class="form-group col-4">
                        <label for="inputStr">STR:</label>
                        <input type="text" class="form-control" id="inputStr" placeholder="STR">
            </div>
             <div class="form-group col-4">
                        <label for="inputAC">AC:</label>
                        <input type="text" class="form-control" id="inputAC" placeholder="AC">
            </div>
             <div class="form-group col-4">
                 <div class="row">
                     <div class="form-group col-2">
                         <label for="inputMaxHP">Max HP:</label>
                        <input type="text" class="form-control" id="inputMaxHP" placeholder="Max HP">
                    </div>
                     <div class="form-group col-2">
                        <label for="inputCurrentHP">Current HP:</label>
                        <input type="text" class="form-control" id="inputCurrentHP" placeholder="Current HP">
                    </div>
                </div>
            </div>
        </div>

         <div class="form-row">
             <div class="form-group col-3">
                 <div class="form-row">
                    <label for="inputDex">Dex:</label>
                    <input type="text" class="form-control" id="inputDex" placeholder="Dex">
                </div>
                 <div class="form-row">
                    <label for="inputCon">Con:</label>
                    <input type="text" class="form-control" id="inputCon" placeholder="Con">
                </div>
                 <div class="form-row">
                    <label for="inputInt">Int:</label>
                    <input type="text" class="form-control" id="inputInt" placeholder="Int">
                </div>
                 <div class="form-row">
                    <label for="inputWis">Wis:</label>
                    <input type="text" class="form-control" id="inputWis" placeholder="Wis">
                </div>
                 <div class="form-row">
                    <label for="inputCha">Cha:</label>
                    <input type="text" class="form-control" id="inputCha" placeholder="Cha">
                </div>
            </div>
             <div class="form-group col-9">
                        <label for="inputAttacks">Attacks:</label>
                        <input type="text" class="form-control" id="inputAttacks" placeholder="Attacks">
            </div>
             <div class="form-group col-9">
                <label for="inputSpells">Spells:</label>
                <input type="text" class="form-control" id="inputSpells" placeholder="Spells">
            </div>
             <div class="form-row">
                 <button type="button" id="updateBtn"  class="m-3 p-2 bg-dark text-light">Update</button>
            </div>
        </div>
            </form>
        </div>
        <div class="row">
            <div class="col-8 card">
                <div class="pl-2 pt-2 pb-2 text-white bg-secondary card-top">
                    <div class="card-title">
                        <h3>Dice</h3>
                    </div>  
                </div>
                <div class="card-body bg-light">
                    <div class="form-group col">
                        <input type="text" class="form-control" id="inputRollAmt" placeholder="1-9">
                        <select name="dice-rolled" id="diceRolled">
                            <option value="2">d2</option>
                            <option value="4">d4</option>
                            <option value="6">d6</option>
                            <option value="8">d8</option>
                            <option value="10">d10</option>
                            <option value="12">d12</option>
                            <option value="20">d20</option>
                            <option value="100">d100</option>
                        </select>
                        <button type="button" class="m-3 p-2 bg-dark text-light" id="rollButton">Roll</button>
                    </div>
                    <label for="rollOutput">Result:</label>
                    <p style="text-decoration: underline" id="rollOutput"></p>
                </div>
            </div>
        </div>
</div>
<script src="/js/dice.js"></script>